@use "./design-tokens/breakpoints";

.intro {
  &__inner {
    position: relative;

    @include breakpoints.md {
      grid-template-rows: auto;
    }

    &__content {
      margin-top: var(--s-800);
      display: flex;
      gap: var(--s-400);
      flex-direction: column;

      @include breakpoints.md {
        margin-top: -2.15em; // visually move content up "into" nav above
        grid-column: 4 / 8;
      }

      @media screen and (min-width: 1200px) {
        grid-column: 4 / 9;
      }

      @media screen and (min-width: 1400px) {
        flex-direction: row;
      }

      @include breakpoints.lg {
        grid-column: 5 / 9;
      }

      &__image {
        max-width: 25%;
        min-width: 9rem;

        @include breakpoints.md {
          margin-top: 0.4em; // when container is moved into nav this visually aligns image with top of text
        }
      }
      &__text {
        max-width: 16ch;
        a {
          color: var(--color-text-secondary);
        }
        @include breakpoints.md {
          max-width: auto;
        }
      }
    }
  }
}

// Reposition intro content to top of screen on medium sized screens
@include breakpoints.md {
  .intro {
    position: relative;
    top: 0;
    margin: var(--s-200) 0;
    &__content {
      margin: 0;
      width: fit-content;
      margin-top: -1.75em;
      margin-inline-start: 25%;
      @media screen and (min-width: 1300px) {
        flex-direction: row;
      }
    }
  }
}

.home__intro__inner {
  div {
    @include breakpoints.md {
      grid-column: 2 / 12;
      max-width: 48ch;
    }
  }
}

.home-about__inner {
  display: grid;
  gap: var(--s-500);
  @include breakpoints.md {
    grid-auto-flow: column;
    grid-template-columns: repeat(12, minmax(16px, 1fr));
  }
  img {
    @include breakpoints.md {
      grid-column: 1/4;
    }
  }
  &__text {
    @include breakpoints.md {
      grid-column: 7/13;
    }
  }
}

.focus-areas__testimonials {
  &__inner {
    display: flex;
    gap: var(--s-1000);
    flex-direction: column;
    @include breakpoints.md {
      flex-direction: row;
      gap: var(--s-1300);
    }
  }

  blockquote {
    font-size: var(--s-500);
  }
  .cite {
    color: var(--color-text-secondary);
  }
  a {
    color: inherit;
  }
  img {
    max-width: 3em;
  }
  // figure:nth-child(1) {
  //   @include breakpoints.md {
  //     grid-column: 2 / 5;
  //   }
  // }
  // figure:nth-child(2) {
  //   @include breakpoints.md {
  //     grid-column: 7 / 12;
  //   }
  // }
}

.focus-areas__cta {
  margin: var(--s-1100) 0 var(--s-600) 0;
  div {
    @include breakpoints.md {
      grid-column: 7 / 12;
    }
  }
}
