@use "./design-tokens/breakpoints";

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--s-400);
  padding: var(--s-800) 1rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--s-400);

    &__image {
      max-width: 140px;
      margin-top: 8px;
    }
    &__text {
      max-width: 16ch;
      a {
        color: var(--color-text-secondary);
      }
    }
  }
}

#scroll-container {
  // background-color: pink;
  padding: 0;
  line-height: 1.1em;
  min-height: fit-content;
  font-size: calc(var(--s-1300) * 2);
  overflow: hidden;
  margin-top: var(--s-500);

  @include breakpoints.md {
    margin-top: var(--s-900);
    font-size: calc(var(--s-1300) * 1.8);
  }

  @include breakpoints.lg {
    margin-top: var(--s-900);
    font-size: calc(var(--s-1300) * 2.5);
  }
}

#scroll-text {
  width: 40ch; // Set to minimum that ensure text doesn't wrap
  letter-spacing: -0.05em;

  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  /* Set speed */
  -moz-animation: my-animation 28s linear infinite;
  -webkit-animation: my-animation 28s linear infinite;
  animation: my-animation 28s linear infinite;
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(1%);
    -webkit-transform: translateX(1%);
    transform: translateX(1%);
  }
  to {
    /* Fiddling with this will rerun the animation before the current loop exits screen. */
    -moz-transform: translateX(-65%);
    -webkit-transform: translateX(-65%);
    transform: translateX(-65%);
  }
}

// Reposition intro content to top of screen on medium sized screens with position absolute
// Move Scroll area down to accommodate
@include breakpoints.md {
  .intro {
    position: absolute;
    min-width: 100%;
    padding: 0;
    top: 0;
    margin: var(--s-200) 0;
    &__content {
      margin: 0;
      top: var(--s-200);
      margin: 0;
      margin-inline-start: 25%;
      // background-color: pink;
      @media screen and (min-width: 1300px) {
        flex-direction: row;
      }
    }
  }

  #scroll-container {
    margin-top: 20rem;
  }
}

/// OLD STUFF
.hero {
  position: relative;
  padding-top: var(--s-800);
  min-height: calc(90vh - 3em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  article {
    // padding: var(--s-500) 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--s-400);
    text-align: center;
  }

  h1 {
    margin: 0;
  }

  img {
    margin-bottom: 3rem; //same as height of coloured-base
    max-height: 4em;
  }
}

img {
  --flow-space: var(--s-900);
}

.muted-card {
  background-color: var(--color-z0);
  padding: var(--s-700);
  border-radius: 1rem;
  font-size: var(--s-300);
  font-size: 0.9em;
  // max-width: 28rem;
  align-self: center;
  ul {
    padding-left: 1em;
  }
}

.core-competences {
  --flow-space: var(--s-1200);
  padding: 0;
  & > li {
    grid-column-gap: 10rem;
    --flow-space: var(--s-1200);
    list-style: none;
    ul {
      font-size: 0.9em;
      li {
        color: var(--color-text-secondary);
        list-style: disc;
      }
    }
  }
  &__heading {
    @include breakpoints.md {
      grid-column-start: 2;
    }
  }
  &__description {
    @include breakpoints.md {
      grid-row: span 2;
    }
  }
  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 3rem;
    grid-row-start: 3;
    @include breakpoints.md {
      grid-row: 1 / 4;
    }
    img {
      max-height: 8em;
      @include breakpoints.md {
        max-height: 12em;
      }
    }
  }
}

.workprocess__steps {
  list-style: decimal !important;
  padding-left: 1em;
  & > li {
    padding: var(--s-500) 0;
    border-bottom: 1px solid var(--color-border-primary);
  }
}

@include breakpoints.md {
  #intro .grid {
    grid-column-gap: var(--s-1200);
    grid-row-gap: var(--s-900);
    .intro__heading {
      grid-column: span 2;
    }
    .intro__text {
      grid-row-start: 2;
    }
  }
}
