@use "./design-tokens/breakpoints";

.page-content {
  margin-bottom: var(--s-1200);
  &__inner {
    @include breakpoints.md {
      grid-column: 2 / 12;
      max-width: 64ch;
    }
  }
  ol,
  ul {
    padding-inline-start: 3rem;
    & > li + li {
      margin-block-start: 1rem;
    }
  }
}

.recommended-posts {
  margin-bottom: var(--s-900);
}

.tags-list {
  list-style: none;
  display: flex;
  gap: 1em;
  //   padding-inline-start: 1em;
}
