@use "./design-tokens/breakpoints";

.programme-outline {
  &__header {
    &__text {
      @include breakpoints.md {
        grid-column: 1 / 8;
      }
    }
    .programme-hero-image {
      height: 12em;
      @include breakpoints.md {
        grid-column: 9 / 13;
      }
    }
  }
  &__details {
    margin-top: var(--s-1200);
    &__description {
      max-width: 62ch;
      & > p:first-child {
        font-weight: var(--fw-bold);
      }
      --flow-space: var(--s-500);
      @include breakpoints.md {
        grid-column: 1 / 8;
      }
    }
    &__outcomes {
      @include breakpoints.md {
        // font-size: var(--s-300);
        grid-column: 9 / 13;
      }

      ol,
      ul {
        list-style: disc;
        padding-inline-start: 3rem;
        & > li + li {
          margin-block-start: 1rem;
        }
      }
    }
  }
}

.programme-activities {
  &__list {
    display: grid;
    @include breakpoints.md {
      grid-template-columns: repeat(3, 1fr);
    }

    gap: var(--s-800);
    &__item {
      counter-increment: programme-activities;
      &__title {
        font-size: var(--s-500);
      }
      &__description {
        --flow-space: var(--s-400);
        font-size: var(--s-300);
        color: var(--color-text-secondary);
      }
      &::before {
        content: "0" counter(programme-activities);
        font-size: var(--s-600);
        margin-bottom: 1rem;
      }
    }
  }
}
