@use "./design-tokens/breakpoints";

body {
  font-size: var(--s-400);
  line-height: var(--lh-regular);
  font-family: var(--ff-sans);
  font-weight: var(--fw-medium);
  color: var(--color-text-primary);
}

a {
  font-weight: var(--fw-regular);
}

a[class] {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

a.muted {
  color: inherit;
}

a:not([class]) {
  color: currentColor;
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);

  &:hover {
    color: var(--color-primary-lighter);
  }
}

ul:not([class]) {
  li {
    margin-bottom: 0.5em;
  }
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: var(--fw-semibold);
  line-height: var(--lh-tight);
  letter-spacing: -0.03em;
}

h1.major,
.h1.major {
  font-size: var(--s-900);
}

h1,
.h1 {
  font-size: var(--s-900);
  --flow-space: var(--s-900);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
}

h2,
.h2 {
  font-size: var(--s-800);
  line-height: var(--lh-tight);
  --flow-space: var(--s-900);
}

h3,
.h3 {
  font-size: var(--s-700);
  --flow-space: var(--s-900);
}

h4,
.h4 {
  font-size: var(--s-600);
  --flow-space: var(--s-900);
}

p.lead {
  font-weight: var(--fw-bold);
}

.text-align-center {
  text-align: center;
}

.text-muted {
  color: var(--color-text-secondary);
}

.eyebrow {
  font-weight: var(--fw-bold);
  // font-size: 0.8em;
  // text-transform: uppercase;
  & + h1,
  h2,
  h3,
  h4 {
    --flow-space: 0;
  }
}
