@use "./design-tokens/generator";

@use "./reset";

@use "./typography";

/* Utilities */
@use "./utilities/flow";
@use "./utilities/grid";
@use "./utilities/wrapper";
@use "./utilities/sr-only";
@use "./utilities/panel";

/* Components */
@use "./components/site-head";
@use "./components/site-footer";
@use "./components/button";
@use "./components/divider";
@use "./components/msg";
@use "./components/skip-link";
@use "./components/table-view";
@use "./components/scrolling-title";
@use "./components/post-list";
@use "./components/page-header";
@use "./components/programme-hero-image";

/* Pages */
@use "./home";
@use "./coaching";
@use "./page";
@use "./programme-detail";

body {
  background-color: var(--color-z0);
}

:focus {
  outline: 2px dashed var(--color-primary);
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}
