@use "./design-tokens/generator";

@use "./reset";

@use "./typography";

/* Utilities */
@use "./utilities/flow";
@use "./utilities/grid";
@use "./utilities/wrapper";
@use "./utilities/sr-only";
@use "./utilities/panel";
@use "./utilities/tinted-base";

/* Components */
@use "./components/site-head";
@use "./components/footer";
@use "./components/button";
@use "./components/msg";
@use "./components/skip-link";

/* Pages */
@use "./home";

body {
  background-color: var(--color-z1);
}

:focus {
  outline: 2px dashed var(--color-primary);
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}
