$color-palette: (
  "mint100": #ebf1f3,
  "mint200": #aec9d0,
  "mint300": #85adb9,
  "mint400": #5d92a1,
  "mint500": #34778a,
  "mint600": #2a5f6e,
  "mint700": #1f4753,
  "mint800": #1a3c45,
  "mint900": #102429,
  "water100": #c5d0dc,
  "water200": #8ba1b9,
  "water300": #6481a1,
  "water400": #507296,
  "water500": #3d628a,
  "water600": #37587c,
  "water700": #2b4561,
  "water800": #1f3145,
  "water900": #121d29,
  "leaf50": #edf7ef,
  "leaf100": #b7dfbf,
  "leaf200": #92d09e,
  "leaf300": #6ec07e,
  "leaf400": #5cb86e,
  "leaf500": #4ab05e,
  "leaf600": #439e55,
  "leaf700": #3b8d4b,
  "leaf800": #2c6a38,
  "leaf900": #25582f,
  "leaf1000": #16351c,
  "lemonade100": #f7e8ce,
  "lemonade200": #f1d8ad,
  "lemonade300": #ebc88c,
  "lemonade400": #e6b96b,
  "lemonade500": #e3b15b,
  "lemonade600": #cc9f52,
  "lemonade700": #b68e49,
  "lemonade800": #886a37,
  "lemonade900": #5b4724,
  "berry100": #eccbcf,
  "berry200": #da989e,
  "berry300": #cd757e,
  "berry400": #c7646e,
  "berry500": #c1535e,
  "berry600": #ae4b55,
  "berry700": #9a424b,
  "berry800": #873a42,
  "berry900": #612a2f,
  "berry1000": #3a191c,
  "salt100": hsl(0, 0%, 100%),
  "salt150": hsl(240, 31%, 98%),
  "salt200": hsl(240, 25%, 96%),
  "salt300": hsl(240, 23%, 92%),
  "salt400": hsl(236, 21%, 87%),
  "salt500": hsl(237, 16%, 80%),
  "salt600": hsl(240, 10%, 72%),
  "salt700": hsl(240, 7%, 64%),
  "salt800": hsl(240, 5%, 56%),
  "salt900": hsl(240, 4%, 40%),
  "salt1000": hsl(240, 4%, 40%),
  "salt1100": hsl(240, 4%, 16%),
  "salt1200": hsl(240, 5%, 8%),
  "salt1300": hsl(0, 0%, 0%),
);

$themes: (
  default: (
    "brand": map-get($color-palette, "berry500"),
    "primary-lighter": map-get($color-palette, "mint400"),
    "primary": map-get($color-palette, "mint500"),
    "water": map-get($color-palette, "water500"),
    "berry": map-get($color-palette, "berry500"),
    "mint": map-get($color-palette, "mint500"),
    "lemonade": map-get($color-palette, "lemonade500"),
    "grey7": map-get($color-palette, "salt700"),
    "grey6": map-get($color-palette, "salt600"),
    "grey5": map-get($color-palette, "salt500"),
    "grey4": map-get($color-palette, "salt400"),
    "grey3": map-get($color-palette, "salt300"),
    "grey2": map-get($color-palette, "salt200"),
    "grey": map-get($color-palette, "salt100"),
    "text-primary": map-get($color-palette, "salt1100"),
    "text-secondary": hsla(230, 3%, 7%, 60%),
    "text-tertiary": hsla(230, 3%, 34%, 30%),
    "z0": map-get($color-palette, "salt150"),
    "z1": map-get($color-palette, "salt100"),
    "border-primary": map-get($color-palette, "salt500"),
  ),
  dark: (
    // "text-primary": map-get($color-palette, "salt100"),
    // "z0": map-get($color-palette, "salt1100"),,,,,,,,,,,,,,,,
  ),
);
