/* @link https://utopia.fyi/type/calculator?c=320,20,1.2,1240,22,1.25,9,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,NaN */

:root {
  --step--3: clamp(0.7rem, calc(0.73rem + -0.03vw), 0.72rem);
  --step--2: clamp(0.87rem, calc(0.86rem + 0.02vw), 0.88rem);
  --step--1: clamp(1.04rem, calc(1.02rem + 0.1vw), 1.1rem);
  --step-0: clamp(1.25rem, calc(1.21rem + 0.22vw), 1.38rem);
  --step-1: clamp(1.5rem, calc(1.42rem + 0.38vw), 1.72rem);
  --step-2: clamp(1.8rem, calc(1.68rem + 0.61vw), 2.15rem);
  --step-3: clamp(2.16rem, calc(1.98rem + 0.91vw), 2.69rem);
  --step-4: clamp(2.59rem, calc(2.33rem + 1.33vw), 3.36rem);
  --step-5: clamp(3.11rem, calc(2.73rem + 1.89vw), 4.2rem);
  --step-6: clamp(3.73rem, calc(3.21rem + 2.63vw), 5.25rem);
  --step-7: clamp(4.48rem, calc(3.76rem + 3.61vw), 6.56rem);
  --step-8: clamp(5.38rem, calc(4.39rem + 4.91vw), 8.2rem);
  --step-9: clamp(6.45rem, calc(5.13rem + 6.6vw), 10.24rem);
}
