{% extends "layouts/base.html" %} {% block content %}
<article>
  <div class="[ flow ]">
    {% include "partials/scrolling-title.html" %}
    <div class="panel casestudy-outline">
      <div class="wrapper" data-width="full">
        <h2 class="section-heading">Case Study</h2>
        <div class="grid casestudy-outline__header">
          <div class="casestudy-outline__header__text measure-medium flow">
            <h2>{{ summary }}</h2>
          </div>
          <div class="casestudy-outline__header__image {{ hero.cssClass }}">
            <img src="{{ hero.image }}" alt="hero.imageAlt" />
          </div>
          <ul class="casestudy-outline__header__benefits table-view fs-300">
            {% for skill in keySkills %}
            <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="panel">
          <div class="measure-long flow">
            {% for p in intro %}
            <p>{{ p }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="panel results flow">
          <h2 class="section-heading">Results</h2>
          {% include "partials/medium-list.html" %}
          <img src="{{ gallery[0].image }}" alt="gallery[0].imageAlt" />
        </div>

        <div class="panel whatIdid">
          <h2 class="section-heading">What I did</h2>
          <div class="flow whatIdid__content">{{ content | safe }}</div>
        </div>
      </div>
    </div>
    <div class="focus-areas__cta fs-large grid">
      <div class="flow">
        <p>
          Wrestling with a tough product challenge and need a lead designer with
          a proven track record?
        </p>
        <a href="{{ coachingCTA.buttonUrl }}" class="button" data-type="primary"
          >Book a free intro call</a
        >
      </div>
    </div>
  </div>
</article>

{% endblock %}
