{% extends "layouts/base.html" %} {% block content %}
<article>
  <div class="[ flow ]">
    {% include "partials/scrolling-title.html" %}
    <div class="panel casestudy-outline">
      <div class="wrapper" data-width="full">
        <h2 class="section-heading">Case Study</h2>
        <div class="grid casestudy-outline__header">
          <div class="casestudy-outline__header__text flow">
            <h2>{{ summary }}</h2>
            <p class="measure-short">{{ intro }}</p>
          </div>
          <div class="casestudy-outline__header__image {{ hero.cssClass }}">
            <img src="{{ hero.image }}" alt="hero.imageAlt" />
          </div>
          <ul class="casestudy-outline__header__benefits table-view fs-300">
            {% for skill in keySkills %}
            <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="panel results">
          <h2 class="section-heading">Results</h2>
          {% include "partials/medium-list.html" %}
        </div>
        <div class="panel background">
          <h2 class="section-heading">Background</h2>
          <div class="flow measure-medium">
            <p>
              Resolver is a UK based business, dedicated to improving the world
              of Alternative Dispute Resolution (ADR), and championing better
              outcomes for consumers.
            </p>
            <p>
              Their latest product offering is Accord, a SaaS Online Dispute
              Resolution (ODR) platform, aimed at ADR organisations all over the
              world. These organisations bring disputing parties together, to
              help them find amicable resolutions to their disputes without
              involving messy and expensive court proceedings.
            </p>
          </div>
        </div>

        <div class="panel whatIdid">
          <h2 class="section-heading">What I did</h2>
          <div class="flow measure-medium">{{ content | safe }}</div>
        </div>
      </div>
    </div>
    <div class="focus-areas__cta fs-large grid">
      <div class="flow">
        <p>
          Wrestling with a tough product challenge and need a lead designer with
          a proven track record?
        </p>
        <a href="{{ coachingCTA.buttonUrl }}" class="button" data-type="primary"
          >Book a free intro call</a
        >
      </div>
    </div>
  </div>
</article>

{% endblock %}
