{% extends "layouts/base.html" %} {% block content %} {% include
"partials/header-intro-block.html" %} {% include "partials/scrolling-title.html"
%}
<div class="coaching__intro panel">
  <div class="wrapper" data-width="full">
    <h2 class="section-heading">Intro</h2>
    <div class="coaching__intro__inner grid">
      <div class="flow measure-long">
        <p class="fs-large">
          Empowered, self-driven product teams are the backbone of today's most
          successful tech businesses.
        </p>
        <p class="fs-large">
          These teams excel at discovery, to continuously uncover new
          opportunities and more effective solutions.They experiment rapidly, to
          minimise risks and costs while learning how to maximise business
          results. And their diverse members collaborate creatively, to push
          each others’ ideas further than anyone would have known to ask for.
        </p>
        <p class="fs-large">
          These are the teams I love to help product leaders build.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
