{% extends "layouts/base.html" %} {% block content %} {% include
"partials/scrolling-title.html" %}
<div class="coaching__intro panel">
  <div class="wrapper" data-width="full">
    <!-- <h2 class="section-heading">Intro</h2> -->
    <div class="coaching__intro__inner grid gap-top-1000">
      <div class="flow measure-long">
        <p class="fs-large">
          I know that when teams are empowered to improve the lives of customers
          they've got to know first-hand, with solutions they've devised and
          developed themselves, incredible things happen.
        </p>

        <p class="fs-large">
          Motivation, creativity and team effectiveness skyrocket. Along with
          the success of their product and business.
        </p>
        <p class="fs-large">
          If you're hoping to build a win-win culture of high-performance that
          leads to fulfilled teams, competitor-crushing innovation and products
          customers' love... I'd love to hear from you.
        </p>
      </div>
    </div>
  </div>
</div>
<article class="focus-areas panel">
  <div class="wrapper flow" data-width="full">
    <h2 class="section-heading">Coaching and workshops</h2>

    <ol class="jumbo-list flow">
      {% for item in collections.programmes %}
      <li class="jumbo-list__item flow">
        <h3>{{ item.data.title }}</h3>
        <div class="jumbo-list__item__content">
          <div
            class="jumbo-list__item__content__image programme-hero-image"
            style="background-color: {{ item.data.hero.bgColor }}"
          >
            <img
              src="{{ item.data.hero.image }}"
              alt="item.data.hero.imageAlt"
            />
          </div>
          <div
            class="jumbo-list__item__content__text flow"
            style="--flow-space: var(--s-700)"
          >
            <p class="jumbo-list__item__content__text__summary md-fs-large">
              {{ item.data.summary }}
            </p>
            <p class="fs-300 color-text-secondary fw-semibold">
              What we'll work on
            </p>
            <ul class="table-view fs-300">
              {% for skill in item.data.keySkills %}
              <li>{{ skill }}</li>
              {% endfor %}
            </ul>
            <a class="button" href="{{ item.data.url }}" data-type="primary"
              >Learn more</a
            >
          </div>
        </div>
      </li>
      {% endfor %}
    </ol>
  </div>
</article>
{% include "partials/getting-started.html" %} {% endblock %}
