{% extends "layouts/base.html" %} {% block content %}
<div class="intro wrapper fs-large flow">
  <div class="intro__image">
    <img
      src="/images/header-image.png"
      alt="A photo of Scott sitting behind his desk"
    />
  </div>
  <div class="intro__text flow">
    <p>A product team coach and design consultant based in London, UK</p>
    <a class="button" href="#">Book a free chat</a>
  </div>
</div>
<div id="scroll-container">
  <div id="scroll-text">
    Innovate. <span class="color-text-tertiary">Collaborate.</span> Experiment.
    <span class="color-text-tertiary">Trust.</span>
  </div>
</div>

{% endblock %}
