{% extends "layouts/base.html" %} {% block content %}
<div class="intro">
  <div class="intro__inner wrapper">
    <div class="intro__inner__content fs-large">
      <div class="intro__inner__content__image">
        <img
          src="/images/header-image.png"
          alt="A photo of Scott sitting behind his desk"
        />
      </div>
      <div class="intro__inner__content__text flow">
        <p>Product team coach and design consultant based in London, UK.</p>
        <a class="button button--muted" href="#">Book a free chat</a>
      </div>
    </div>
  </div>
</div>
<div id="scroll-container">
  <div id="scroll-text">
    Innovate. <span class="color-text-tertiary">Collaborate.</span> Experiment.
    <span class="color-text-tertiary">Trust.</span>
  </div>
</div>
<article class="focus-areas panel">
  <div class="wrapper">
    <h2 class="section-heading">Product team coaching and training</h2>
    <ol class="focus-areas__list flow">
      {% for item in collections.focusAreas %}
      <li class="focus-areas__list__item flow">
        <h3>{{ item.data.title }}</h3>
        <div class="focus-areas__list__item__content">
          <div class="focus-areas__list__item__content__image">
            <img
              src="{{ item.data.hero.image }}"
              alt="item.data.hero.imageAlt"
            />
          </div>
          <div
            class="focus-areas__list__item__content__text flow"
            style="--flow-space: var(--s-700)"
          >
            <p class="md-fs-large">{{ item.data.summary }}</p>
            <ul class="table-view fs-300">
              {% for skill in item.data.keySkills %}
              <li>{{ skill }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </li>
      {% endfor %}
    </ol>
  </div>
</article>

{% endblock %}
