{% extends "layouts/base.html" %} {% block content %}
<article>
  <div class="[ flow wrapper ]" data-width="full">
    {% include "partials/scrolling-title.html" %}
    <article class="panel programme-outline">
      <h2 class="section-heading">01 Programme outline</h2>
      <div class="wrapper grid programme-outline__inner" data-width="full">
        <div class="programme-outline__description flow">
          <h3>{{ summary }}</h3>
          {% for paragraph in programmeDescription %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        <div class="programme-outline__outcomes flow">
          <div
            class="programme-hero-image"
            style="background-color: {{ hero.bgColor }}"
          >
            <img src="{{ hero.image }}" alt="hero.imageAlt" />
          </div>
          <h4>Programme outcomes</h4>
          <ul class="flow">
            {% for item in programmeOutcomes %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </article>
  </div>
</article>

{% endblock %}
