{% extends "layouts/base.html" %} {% block content %}
<article>
  <div class="[ flow ]">
    <div class="wrapper gap-top-600" data-width="full">
      {% include "partials/programme-stepper.html" %}
    </div>
    {% include "partials/scrolling-title.html" %}
    <div class="panel programme-outline">
      <div class="wrapper" data-width="full">
        <h2 class="section-heading">{{ title }} overview</h2>

        <div class="grid programme-outline__header">
          <div class="programme-outline__header__text">
            <h3>{{ summary }}</h3>
          </div>

          <div
            class="programme-outline__header__image programme-hero-image"
            style="background-color: {{ hero.bgColor }}"
          >
            <img src="{{ hero.image }}" alt="hero.imageAlt" />
          </div>
        </div>
        <div class="grid programme-outline__details">
          <div class="programme-outline__details__description flow">
            {% for paragraph in programmeDescription %}
            <p>{{ paragraph | safe }}</p>
            {% endfor %}
          </div>
          <div class="programme-outline__details__outcomes flow">
            <h2 class="section-heading">Key outcomes</h2>
            <ul class="flow">
              {% for item in programmeOutcomes %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/getting-started.html" %}
  </div>
</article>

{% endblock %}
