@use "../design-tokens/breakpoints";

.grid {
  display: grid;
  min-width: 100%;
  grid-template-columns: repeat(4, minmax(16px, 1fr));
  gap: var(--grid-gap, var(--s-500));

  .order-1 {
    order: 1;
  }

  .order--1 {
    order: -1;
  }

  .align-self-center {
    align-self: center;
  }

  .justify-self-center {
    justify-self: center;
  }
}

@include breakpoints.md {
  .grid {
    grid-template-columns: repeat(12, minmax(16px, 1fr));
  }
}
