@use "../design-tokens/breakpoints";

.getting-started {
  &__inner {
    h2 {
      .subhead {
        display: block;
        color: var(--color-text-secondary);
      }
    }
    li {
      grid-row-gap: var(--s-300);
      padding: var(--s-200) 0.5rem;
      border-bottom: 1px solid var(--color-border-primary);
      &:first-child {
        border-top: 1px solid var(--color-border-primary);
      }
      &:nth-child(3) {
        background-color: var(--color-grey2);
      }
      h5 {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-inline-start: 1.5em;
      }
      p {
        font-size: var(--s-300);
        color: var(--color-text-secondary);
      }
      .button {
        // font-size: var(--s-400);
        justify-self: end;
        align-self: center;
      }
      counter-increment: getting-started-steps;
      &::before {
        content: "0" counter(getting-started-steps);
        color: var(--color-text-secondary);
        grid-row: 1/2;
        grid-column: 1/2;
      }
    }

    @include breakpoints.md {
      h2 {
        grid-column: 3 / 13;
      }
      ol {
        grid-column: 1 / 13;

        li {
          h5 {
            margin-inline-start: 0;
            grid-column: 3/6;
          }
          p {
            grid-column: 6/11;
          }
          .button {
            grid-column: 11/13;
          }
          &::before {
            color: var(--color-text-primary);
          }
        }
      }
    }
  }
}
