@use "../design-tokens/breakpoints";

.jumbo-list {
  counter-reset: jumbo-counter;
  list-style: none;
  & > li + li {
    @include breakpoints.md {
      border-top: 1px solid var(--color-border-primary);
    }
  }

  &__item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, minmax(16px, 1fr));
    counter-increment: jumbo-counter;
    padding: var(--s-600) 0;
    @include breakpoints.md {
      padding: var(--s-800) 0;
    }
    h3 {
      display: inline;
      font-size: var(--s-800);
      grid-row: 1/2;
      margin-inline-start: 1rem;
      @include breakpoints.md {
        margin-inline-start: 0;
      }
    }

    &::before {
      display: flex;
      align-items: end;
      content: "0" counter(jumbo-counter);
      font-size: var(--s-600);
    }
    &__content {
      --flow-space: 0;
      display: grid;
      grid-row-gap: var(--s-500);
      grid-row: 2/3;
      grid-column: 1 / 13;
      grid-auto-flow: column;
      grid-template-columns: repeat(12, minmax(16px, 1fr));
      @include breakpoints.md {
        grid-column-gap: var(--s-600);
      }
      &__text {
        grid-row: 3/4;
        grid-column: 1 / 13;
        @include breakpoints.md {
          grid-row: 2/3;
          grid-column: 8 / 13;
        }
        &__summary {
          max-width: 40rem;
        }
      }
      &__image {
        // background-color: pink;
        position: relative;
        overflow: hidden;
        aspect-ratio: 16 / 9;
        grid-column: 1 / 13;
        grid-row: 2/3;
        @include breakpoints.md {
          aspect-ratio: auto;
          grid-row: 2/3;
          grid-column: 1 / 8;
        }
      }
    }
  }
}
