@use "../design-tokens/breakpoints";

.medium-list {
  display: grid;
  @include breakpoints.md {
    grid-template-columns: repeat(3, 1fr);
  }
  gap: var(--s-600);
  &__item {
    counter-increment: casestudy-activities;
    background-color: var(--color-grey2);
    padding-block: var(--s-500) var(--s-800);
    padding-inline: var(--s-600);
    // border: 1px solid var(--color-border-primary);
    &__title {
      font-size: var(--s-500);
    }
    &__description {
      --flow-space: var(--s-400);
      font-size: var(--s-300);
      color: var(--color-text-secondary);
    }
    &::before {
      content: "0" counter(casestudy-activities);
      font-size: var(--s-500);
      color: var(--color-text-secondary);
      margin-bottom: 1rem;
    }
  }
}
