.msg {
  border-radius: 0.25em;
  padding: 0.5em 1em;
  background: var(--color-grey5);
  color: var(--color-text-primary);

  &[data-type="negative"] {
    background: var(--color-negative-bg);
    color: var(--color-negative-text-primary);
  }
}
