.newsletter-widget {
  &__content {
    max-width: 40rem;
    margin-inline: auto;
  }
  text-align: center;
  background-color: #ffe3f7;
  // border: 1px solid var(--color-primary);
  padding: var(--s-600) var(--s-300);
  font-size: var(--s-400);
  margin-bottom: var(--s-800);
  .title {
    // font-size: var(--s-600);
    .subhead {
      // display: block;
      // font-size: var(--s-300);
      color: var(--color-text-secondary);
    }
  }
  form {
    --flow-space: var(--s-300);
    label {
      display: block;
      font-size: var(--s-300);
      font-weight: var(--fw-semibold);
      text-align: center;
    }
    input[type="email"] {
      --flow-space: 0;
      width: 100%;
      text-align: center;
      padding: 0.25rem 0.5rem;
    }
    input[type="submit"],
    button {
      --flow-space: var(--s-200);
      font-size: var(--s-400);
      margin-inline: auto;
    }
  }
}

.mini-widget {
  .newsletter-widget {
    text-align: start;
    .title {
      font-size: var(--s-500);
    }
    p {
      font-size: var(--s-300);
    }
    form {
      label {
        display: block;
        font-size: var(--s-300);
        font-weight: var(--fw-semibold);
        text-align: start;
      }
      input[type="email"] {
        text-align: start;
      }
      input[type="submit"],
      button {
        --flow-space: var(--s-200);
        font-size: var(--s-400);
        margin-inline: 0;
      }
    }
  }
}
