.newsletter-widget {
  background-color: #ffe3f7;
  // border: 1px solid var(--color-primary);
  padding: var(--s-500) var(--s-300);
  font-size: var(--s-400);
  line-height: 1.5em;
  margin-bottom: var(--s-800);
  .title {
    font-size: var(--s-600);
    .subhead {
      display: block;
      font-size: var(--s-300);
      color: var(--color-text-secondary);
    }
  }
  form {
    --flow-space: var(--s-300);
    label {
      display: block;
      font-size: var(--s-300);
      font-weight: var(--fw-semibold);
    }
    input[type="email"] {
      --flow-space: 0;
    }
    input[type="submit"],
    button {
      --flow-space: var(--s-200);
      font-size: var(--s-400);
    }
  }
}
