@use "../design-tokens/breakpoints";

// Stop anchor links from shooting beneath fixed header
:target:before {
  content: "";
  display: block;
  height: 90px; /* fixed header height*/
  margin: -90px 0 0; /* negative fixed header height */
}

.site-head {
  width: 100%;
  top: 0;
  z-index: 100;
  background: var(--z1);
  border-bottom: 1px solid var(--color-grey4);

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  &__logo {
    flex-shrink: 0;
    margin-inline-end: var(--s-600); // Prevents nav bunching up to the logo
    cursor: pointer;
    height: var(--s-900);
    display: flex;
    align-items: center;
    gap: 4px;
    &__lettering {
      font-weight: var(--fw-bold);
    }

    img {
      max-height: var(--s-600);
    }
  }
  .nav {
    color: var(--color-text-secondary);
    line-height: 1;
    &__list {
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 598px) {
        transform: translateX(-20px);
      }

      li:last-child {
        padding-right: 0;
      }
    }

    a {
      text-decoration: none;
      display: block;
      position: relative;
      height: var(--s-900);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: var(--fw-semibold);
      color: var(--color-text-secondary);
      min-width: 96px;

      // Adds the fake border to active state items
      &[data-state="active"],
      &[aria-current="page"] {
        font-weight: var(--fw-bold);
        color: var(--color-text-primary);
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5px;
          background: linear-gradient(var(--color-primary-gradient));
        }
        //   border-bottom: 5px solid var(--color-primary);
      }
    }
  }
}
