@use "../utilities/sr-only";

.skip-link {
  position: absolute;
  top: var(--s-300);
  left: var(--s-300);
  z-index: 99;

  // @extends should be used with care, but this is a great example of them being hella useful
  &:not(:focus) {
    @extend .sr-only;
  }
}
