.table-view {
  display: grid;
  list-style: none;
  padding-inline-start: 0;

  li {
    padding: var(--s-200) 0;
    border-bottom: 1px solid var(--color-border-primary);
    &:first-child {
      border-top: 1px solid var(--color-border-primary);
    }
  }
}
