<form
  action="https://buttondown.email/api/emails/embed-subscribe/productrewired"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/productrewired', 'popupwindow')"
  class="flow embeddable-buttondown-form"
>
  <label for="bd-email">Your email</label>
  <input type="email" name="email" id="bd-email" />
  <button type="submit" data-type="primary">Upgrade your ideas</button>
  <!-- <input type="submit" data-type="primary" value="Upgrade your ideas" /> -->
</form>
