<article class="focus-areas panel">
  <div class="wrapper flow" data-width="full">
    <h2 class="section-heading">Coaching programmes</h2>

    <ol class="focus-areas__list flow">
      {% for item in collections.programmes %}
      <li class="focus-areas__list__item flow">
        <h3>{{ item.data.title }}</h3>
        <div class="focus-areas__list__item__content">
          <div
            class="focus-areas__list__item__content__image"
            style="background-color: {{ item.data.hero.bgColor }}"
          >
            <img
              src="{{ item.data.hero.image }}"
              alt="item.data.hero.imageAlt"
            />
          </div>
          <div
            class="focus-areas__list__item__content__text flow"
            style="--flow-space: var(--s-700)"
          >
            <p
              class="focus-areas__list__item__content__text__summary md-fs-large"
            >
              {{ item.data.summary }}
            </p>
            <p class="fs-300 color-text-secondary fw-semibold">
              What we'll work on
            </p>
            <ul class="table-view fs-300">
              {% for skill in item.data.keySkills %}
              <li>{{ skill }}</li>
              {% endfor %}
            </ul>
            <a class="button" href="{{ item.data.url }}">Learn more</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ol>
    <div class="focus-areas__testimonials grid">
      <figure class="[ focus-areas__testimonial md-fs-large flow ]">
        <img
          src="https://media.licdn.com/dms/image/C5103AQFmS21Q9G8tKQ/profile-displayphoto-shrink_800_800/0/1517551526775?e=1682553600&v=beta&t=JhadJPD1TwI7QRdE9BnSrEiI5yOBDsg2CmQghwqvPV4"
          alt="A professional headshot of Androniki Menelaou, COO of Katana"
        />
        <blockquote>
          "Scott has been amazing, not only helping us with getting UX research
          and design back on track, but also ingraining a customer centric
          culture in the whole company."
        </blockquote>
        <figcaption>
          <span class="cite"
            ><a
              href="https://www.linkedin.com/in/androniki-menelaou-7994aa60/"
              target="_blank"
              >Androniki Menelaou</a
            >, COO & co-founder, Katana Labs</span
          >
        </figcaption>
      </figure>
      <!-- <figure class="[ home-testimonial fs-large flow ]">
        <img
          src="https://media.licdn.com/dms/image/C5103AQFmS21Q9G8tKQ/profile-displayphoto-shrink_800_800/0/1517551526775?e=1682553600&v=beta&t=JhadJPD1TwI7QRdE9BnSrEiI5yOBDsg2CmQghwqvPV4"
          alt=""
        />
        <blockquote>
          "Scott has been amazing, not only helping us with getting UX research
          and design back on track, but also ingraining a customer centric
          culture in the whole company."
        </blockquote>
        <figcaption>
          <span class="cite"
            ><a
              href="https://www.linkedin.com/in/androniki-menelaou-7994aa60/"
              target="_blank"
              >Androniki Menelaou</a
            >, COO & co-founder, Katana Labs</span
          >
        </figcaption>
      </figure> -->
    </div>
  </div>
</article>
<article class="getting-started panel">
  <div class="getting-started__inner wrapper" data-width="full">
    <h2 class="section-heading">Getting started. How it works</h2>
    <ol>
      <li>
        <p class="fs-large">
          Free introductory chat, to discuss challenges and goals
        </p>
        <p>
          Typically lasts 30 mins. If I think I can help, and you like what you
          hear... we move on.
        </p>
      </li>
      <li>
        <p class="fs-large">I meet the team(s) I’m to work with.</p>
        <p>
          I spend up to a day meeting team members 1:1. Their buy in is
          essential and it helps me understand how I can best help.
        </p>
      </li>
      <li>
        <p class="fs-large">
          I put together a tailored programme that covers the first 1 - 3 months
        </p>
        <p>
          I’ll provide a basic outline of proposed activities and outcomes. If
          you and the team agree - we sign contracts.
        </p>
      </li>
      <li>
        <p class="fs-large">
          The team(s) and I get cracking, with regular reviews
        </p>
        <p>
          I work with the team. We review progress against outcomes fortnightly.
          A rolling monthly contract means you’re in control.
        </p>
      </li>
      <li>
        <p class="fs-large">
          Achieve the performance your teams are capable of, and your business
          needs
        </p>
        <p>
          You bask in the glory of the incredible work your teams are doing :)
        </p>
      </li>
    </ol>
  </div>
</article>
