<article class="getting-started panel">
    <div class="getting-started__inner wrapper" data-width="full">
      <div class="grid">
        <h2>Ready to get going? <span class="subhead">Here's how it works.</span></h2>
        <ol>
          {% for item in gettingStarted.steps %}
          <li class="grid">
            <h5>
              {{ item.step }}
            </h5>
            <p>
              {{ item.description }}
            </p>
            {% if item.button %}
            <a class="button" href="{{ item.buttonUrl }}" data-type="primary"
              >{{ item.button }}</a
            >
            {% endif %}
          </li>
          {% endfor %}
        </ol>
      </div>
     
    </div>
  </article>
</div>
</article>