<article class="getting-started panel">
    <div class="getting-started__inner wrapper" data-width="full">
      <h2 class="section-heading">Getting started. How it works</h2>
      <ol>
        <li>
          <p class="fs-large">
            Free introductory chat, to discuss challenges and goals
          </p>
          <p>
            Typically lasts 30 mins. If I think I can help, and you like what
            you hear... we move on.
          </p>
        </li>
        <li>
          <p class="fs-large">I meet the team(s) I’m to work with.</p>
          <p>
            I spend up to a day meeting team members 1:1. Their buy in is
            essential and it helps me understand how I can best help.
          </p>
        </li>
        <li>
          <p class="fs-large">
            I put together a tailored programme that covers the first 1 - 3
            months
          </p>
          <p>
            I’ll provide a basic outline of proposed activities and outcomes.
            If you and the team agree - we sign contracts.
          </p>
        </li>
        <li>
          <p class="fs-large">
            The team(s) and I get cracking, with regular reviews
          </p>
          <p>
            I work with the team. We review progress against outcomes
            fortnightly. A rolling monthly contract means you’re in control.
          </p>
        </li>
        <li>
          <p class="fs-large">
            Achieve the performance your teams are capable of, and your
            business needs
          </p>
          <p>
            You bask in the glory of the incredible work your teams are doing.
          </p>
        </li>
      </ol>
    </div>
  </article>
</div>
</article>