<div class="intro">
  <div class="intro__inner grid wrapper" data-width="full">
    <div class="intro__inner__content fs-large">
      <div class="intro__inner__content__image">
        <img
          src="{{ headerIntroBlock.image }}"
          alt="{{ headerIntroBlock.imageAlt }}"
        />
      </div>
      <div class="intro__inner__content__text flow">
        <p>{{ headerIntroBlock.text }}</p>
        <a class="button button--muted" href="{{ headerIntroBlock.buttonUrl }}"
          >{{ headerIntroBlock.buttonText }}</a
        >
      </div>
    </div>
  </div>
</div>
