<div class="focus-areas__testimonials panel" data-width="full">
  <div class="focus-areas__testimonials__inner wrapper" data-width="full">
    <figure class="[ focus-areas__testimonial flow ]">
      <img src="/images/tim-mcdermott.jpeg" alt="" />
      <blockquote>
        "The speed at which you worked and the transparency of the process was
        something we're not used to. In these few weeks the team's achieved more
        than in the last 2 years it feels like."
      </blockquote>
      <figcaption>
        <span class="cite"
          ><a
            href="https://www.linkedin.com/in/timothy-mcdermott-3b27739/"
            target="_blank"
            >Timothy McDermott</a
          >, CEO, Nadex</span
        >
      </figcaption>
    </figure>
    <figure class="[ home-testimonial flow ]">
      <img src="/images/androniki-menelaou.jpeg" alt="" />
      <blockquote>
        "Scott has been amazing, not only helping us with getting UX research
        and design back on track, but also ingraining a customer centric culture
        in the whole company."
      </blockquote>
      <figcaption>
        <span class="cite"
          ><a
            href="https://www.linkedin.com/in/androniki-menelaou-7994aa60/"
            target="_blank"
            >Androniki Menelaou</a
          >, COO & co-founder, Katana Labs</span
        >
      </figcaption>
    </figure>
  </div>
</div>
