<div class="focus-areas__testimonials panel" data-width="full">
  <div class="focus-areas__testimonials__inner wrapper" data-width="full">
    <figure class="[ focus-areas__testimonial flow ]">
      <img
        src="https://media.licdn.com/dms/image/C5603AQE3bb4bAmHtYg/profile-displayphoto-shrink_800_800/0/1517665322244?e=1682553600&v=beta&t=dQxpgrgUzdD8Id0hMCqi-lsidEyqaxhlRvDloQ1BCHQ"
        alt=""
      />
      <blockquote>
        "The speed at which you worked and the transparency of the process was
        something we're not used to. In these few weeks the team's achieved more
        than in the last 2 years it feels like."
      </blockquote>
      <figcaption>
        <span class="cite"
          ><a
            href="https://www.linkedin.com/in/timothy-mcdermott-3b27739/"
            target="_blank"
            >Timothy McDermott</a
          >, CEO, Nadex</span
        >
      </figcaption>
    </figure>
    <figure class="[ home-testimonial flow ]">
      <img
        src="https://media.licdn.com/dms/image/C5103AQFmS21Q9G8tKQ/profile-displayphoto-shrink_800_800/0/1517551526775?e=1682553600&v=beta&t=JhadJPD1TwI7QRdE9BnSrEiI5yOBDsg2CmQghwqvPV4"
        alt=""
      />
      <blockquote>
        "Scott has been amazing, not only helping us with getting UX research
        and design back on track, but also ingraining a customer centric culture
        in the whole company."
      </blockquote>
      <figcaption>
        <span class="cite"
          ><a
            href="https://www.linkedin.com/in/androniki-menelaou-7994aa60/"
            target="_blank"
            >Androniki Menelaou</a
          >, COO & co-founder, Katana Labs</span
        >
      </figcaption>
    </figure>
  </div>
</div>
