<article class="home-about panel">
  <div class="wrapper flow" data-width="full">
    <h2 class="section-heading">About me</h2>
    <div class="home-about__inner">
      <img src="/images/scott-in-garden.png" alt="" />
      <div class="home-about__inner__text flow md-fs-large">
        <p>
          I'm Scott. I've been designing and helping teams build apps and online
          services for almost 15 years now.
        </p>
        <p>
          I know that when teams are empowered to improve the lives of customers
          they've got to know first-hand, with solutions they've devised and
          developed themselves, incredible things happen.
        </p>

        <p>
          Motivation, creativity and team effectiveness skyrocket. Along with
          the success of their product and business.
        </p>
        <p>
          Working with product leaders and their teams to achieve this win-win
          culture of high-performance, that leads to fulfilled teams and
          measurably better products is what I love to do.
        </p>
        {% include "partials/newsletter-widget.html" %}
      </div>
    </div>
  </div>
</article>
