<article class="home-about panel">
  <div class="wrapper flow" data-width="full">
    <h2 class="section-heading">About me</h2>
    <div class="home-about__inner">
      <img src="/images/scott-closeup.png" alt="" />
      <div class="home-about__inner__text flow md-fs-large">
        <p>
          I'm Scott. I've been designing and helping teams build apps and online
          services for almost 15 years now.
        </p>
        <p>
          When it comes to design problems, the knottier and nerdier the better. Which is probably why I've spent much of my career in finance, designing complex services and data-rich apps that help professionals make better decisions faster.</p> 
        </p>

        <p>
          I'm a huge advocate of user-centric design and agile development practices, with a track record in successfully leading teams that deliver the right solutions, in the right way, sooner. 
        </p>
        <p>
          I do this by calling upon many years of experience, designing and testing all kinds of interfaces, and an intensely collaborative approach to discovery and design. This is because I know that when everyone understands our users, everyone can be empowered to make better decisions, which lead to better results faster.
        </p>
        <a href="{{ site.bookingLink }}" class="button" data-type="primary"
          >Book a free intro call</a
        >
      </div>
      <!-- <div class="focus-areas__cta fs-large grid">
      <div class="flow">
        <p>
          Wrestling with a tough product challenge and need a lead designer with
          a proven track record?
        </p>
        
      </div>
    </div> -->
    </div>
  </div>
</article>
