<article class="home-about panel">
  <div class="wrapper flow" data-width="full">
    <h2 class="section-heading">Videos</h2>
    <div class="home-videos__inner">
      <div class="youtube">
        <a href="https://youtu.be/cLhOb9QfK8M" target="_blank"
          ><img
            src="/images/monzo_video_thumbnail.png"
            alt="A video thumbnail with the title The single sentence motto that helped fuel Miro's product success"
        /></a>
      </div>

      <div class="youtube">
        <a href="https://youtu.be/xl1zFPVy-34" target="_blank"
          ><img
            src="/images/miro_video_thumbnail.png"
            alt="A video thumbnail with the title The single sentence motto that helped fuel Miro's product success"
        /></a>
      </div>
    </div>
  </div>
</article>
