<article class="home-about panel">
  <div class="wrapper flow" data-width="full">
    <h2 class="section-heading">About me</h2>
    <div class="home-about__inner">
      <img src="/images/scott-in-garden.png" alt="" />
      <div class="home-about__inner__text flow md-fs-large">
        <p>
          I'm Scott. I've been designing and helping teams build apps and online
          services for almost 15 years now.
        </p>
        <p>
          I know that when teams are empowered to improve the lives of customers
          they've gotten to know first-hand, with solutions they've devised and
          developed themselves, incredible things happen.
        </p>

        <p>
          Motivation, creativity and team effectiveness skyrocket. Along with
          the success of their product and business.
        </p>
        <p>
          Too often though, the opportunity to leverage our teams' talents is
          utterly squandered, thanks to an inability to work in ways that build
          trust, and ways of working that rewards what's easy to measure, rather
          than what matters.
        </p>
        <p>
          If you and your team(s) would like to explore and adopt new ways of
          working that work for you, your customers and your business based on
          proven principles I'd love to hear from you.
        </p>
      </div>
    </div>
  </div>
</article>
