<article class="focus-areas panel">
  <div class="wrapper flow">
    <h2 class="section-heading">Product team coaching and training</h2>
    <div class="focus-areas__lead grid">
      <div class="focus-areas__lead__text flow">
        <p class="fs-large">
          I help product teams tackle their most pressing challenges, while
          developing skills and competences in the
          <span class="color-text-secondary">3 areas</span> I believe are
          needed, to ship great products and build a better business.
        </p>
      </div>
    </div>

    <ol class="focus-areas__list flow">
      {% for item in collections.focusAreas %}
      <li class="focus-areas__list__item flow">
        <h3>{{ item.data.title }}</h3>
        <div class="focus-areas__list__item__content">
          <div
            class="focus-areas__list__item__content__image"
            style="background-color: {{ item.data.hero.bgColor }};"
          >
            <img
              src="{{ item.data.hero.image }}"
              alt="item.data.hero.imageAlt"
            />
          </div>
          <div
            class="focus-areas__list__item__content__text flow"
            style="--flow-space: var(--s-700)"
          >
            <p
              class="focus-areas__list__item__content__text__summary md-fs-large"
            >
              {{ item.data.summary }}
            </p>
            <ul class="table-view fs-300">
              {% for skill in item.data.keySkills %}
              <li>{{ skill }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </li>
      {% endfor %}
    </ol>
  </div>
</article>
