<div class="newsletter-widget">
  <div class="newsletter-widget__content flow">
    <!-- <h3 class="title">Product Re:Wired</h3> -->
    <h3 class="title">
      <class class="subhead">Subscribe now:</class>
      Supercharge your product and team's performance with one email per week
    </h3>
    <p>
      Get actionable ideas and inspiring thoughts, to help you continuously
      improve your products and team's performance.
    </p>
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/productrewired"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/productrewired', 'popupwindow')"
      class="flow embeddable-buttondown-form"
    >
      <label for="bd-email">Your email</label>
      <input type="email" name="email" id="bd-email" />
      <button type="submit" data-type="primary">Upgrade your ideas</button>
      <!-- <input type="submit" data-type="primary" value="Upgrade your ideas" /> -->
    </form>
  </div>
</div>
