<div class="newsletter-widget">
  <div class="newsletter-widget__content flow">
    <!-- <h3 class="title">Product Re:Wired</h3> -->
    <h3 class="title">
      Product Re:Wired
      <class class="subhead">Weekly newsletter</class>
      <!-- Supercharge your product and team's performance with one email per week -->
    </h3>
    <p>
      A weekly newsletter, helping tech leaders and product teams build a
      win-win culture of high-performance, where empowered teams excel and
      products reliably drive business growth.
    </p>
    {% include "./substack-embed.html" %}
  </div>
</div>
