<div class="newsletter-widget">
  <div class="newsletter-widget__content flow">
    <!-- <h3 class="title">Product Re:Wired</h3> -->
    <h3 class="title">
      Product Re:Wired
      <class class="subhead">Weekly newsletter</class>
      <!-- Supercharge your product and team's performance with one email per week -->
    </h3>
    <p>
      3 simple ideas delivered each week, to help tech leaders and product teams
      reimagine the way they build products and high-performance cultures.
    </p>
    {% include "./substack-embed.html" %}
  </div>
</div>
