<div id="post-list">
  <div class="[ flow flow-space-700 ]">
    {% if postListHeadline %}
    <h2 class="section-heading">{{ postListHeadline }}</h2>
    {% endif %}
    <div>
      <ol class="[ post-list ] [ flow ]">
        {% for item in postListItems %}
        <li class="[ post-list__item ] [ measure-long ]">
          <a href="{{ item.url }}" class="post-list__item__link"
            >{{ item.data.title }}</a
          >
          <time
            class="[ post-list__item__date ]"
            datetime="{{ item.date | w3DateFilter }}"
            >{{ item.date | dateFilter }}</time
          >
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
