<div class="scroll-container">
  <div class="scroll-container__title">
    <div>
      <h1>
        Innovate.
        <span class="color-text-tertiary">Collaborate.</span> Experiment.
        <span class="color-text-tertiary">Trust.</span>
      </h1>
      <h1>
        Innovate.
        <span class="color-text-tertiary">Collaborate.</span> Experiment.
        <span class="color-text-tertiary">Trust.</span>
      </h1>
    </div>
  </div>
</div>

<!-- <div class="m-scroll">
  <div class="m-scroll__title">
    <div>
      <h1>
        <a href="https://dribbble.com/JulianoF">Likedin,</a> <a href="https://dribbble.com/JulianoF">Dribbble</a> &amp; <a href="https://dribbble.com/JulianoF">Instagram </a>&nbsp;
      </h1>
      <h1>
      <a href="https://dribbble.com/JulianoF">Likedin,</a> <a href="https://dribbble.com/JulianoF">Dribbble</a> &amp; <a href="https://dribbble.com/JulianoF">Instagram </a>&nbsp;
      </h1>
    </div>
  </div>
</div> -->
