<footer role="contentinfo" class="[ site-footer ]">
  <div class="site-footer__inner wrapper grid" data-width="full">
    <div class="site-footer__inner__message">
      <h3>
        Fancy a chat about your product, team and goals? I’ll put the kettle on!
      </h3>
    </div>
    <ul class="site-footer__inner__contact color-text-secondary fs-large flow">
      <li>
        <a href="mailto:">scott@scottherrington.com</a>
      </li>
      <li><a class="button" href="#">Book a free intro call</a></li>
    </ul>
    <ul class="site-footer__inner__links">
      <li><a href="#">Newsletter</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">LinkedIn</a></li>
    </ul>
    <p class="site-footer__inner__copyright color-text-secondary">&copy;2023</p>
    <p class="site-footer__inner__companyinfo">
      <a href="#">Company details</a>
    </p>
    <p class="site-footer__inner__logo fs-large">Scott</p>
    <a class="site-footer__inner__backtotop fs-large" href="#"
      ><i class="fa-solid fa-arrow-up"></i
    ></a>
  </div>
</footer>
