<a class="skip-link button" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <div class="wrapper site-head__inner fs-large">
    <div class="site-head__inner__logo">
      <a class="nodecoration" href="/" aria-label="{{ site.name }}"> Scott </a>
    </div>
    <div class="site-head__inner__cta">
      <a href="#">Contact</a>
    </div>
    <div class="site-head__inner__image">
      <img
        src="/images/header-image.png"
        alt="A photo of Scott sitting behind his desk"
      />
    </div>
    <div class="site-head__inner__text flow">
      <p>A product team coach and design consultant based in London, UK</p>
      <a class="button" href="#">Book a free chat</a>
    </div>
    <!-- <nav class="[ nav ] [ site-head__inner__nav ]" aria-label="Primary">
      <ul class="nav__list">
        {% for item in navigation.items %}
        <li>
          <a
            href="{{ item.url }}"
            {{
            helpers.getLinkActiveState(item.url,
            page.url)
            |
            safe
            }}
            >{{ item.text }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </nav> -->
  </div>
</header>
