<div id="custom-substack-embed"></div>
<div class="substack-footer">
  <img src="../../images/substack-icon.svg" alt="" />
  <span class="color-text-secondary">Substack</span>
</div>

<script>
  window.CustomSubstackWidget = {
    substackUrl: "productrewired.substack.com",
    placeholder: "Type your email...",
    buttonText: "Subscribe",
    theme: "custom",
    colors: {
      primary: "#FFFFFF00",
      input: "white",
      email: "grey",
      text: "#EA3575",
    },
  };
</script>
<script src="https://substackapi.com/widget.js" async></script>
